<main>
  <sky-fluid-grid>
    <sky-row>
      <sky-column>
        <sky-alert alertType="info"> Add something here </sky-alert>
      </sky-column>
    </sky-row>
    <sky-row>
      <sky-column>
        <textarea
          type="text"
          class="sky-form-control"
          [(ngModel)]="message"
          (keyup.enter)="add()"
          placeholder="Write or share something"
          required
        ></textarea>
      </sky-column>
      <sky-column>
        <sky-checkbox [(ngModel)]="isImportant">
          <sky-checkbox-label class="sky-control-label">
            Mark important
          </sky-checkbox-label>
        </sky-checkbox>
      </sky-column>
    </sky-row>
    <sky-row>
      <div class="sky-margin-stacked-separate"></div>
    </sky-row>
    <sky-row *ngFor="let item of items">
      <sky-column
        screenXSmall="1"
        screenSmall="1"
        screenMedium="1"
        ScreenLarge="1"
      >
        <sky-avatar
          [canChange]="false"
          [name]="item.createdBy"
          size="small"
        ></sky-avatar>
      </sky-column>
      <sky-column
        screenXSmall="10"
        screenSmall="10"
        screenMedium="10"
        ScreenLarge="10"
      >
        <sky-description-list mode="vertical">
          <sky-description-list-content>
            <sky-description-list-term>
              {{ item.createdBy }}
              <small>
                commented on {{ item.createdDate | skyDate: "mediumDate" }}
              </small>
            </sky-description-list-term>
            <sky-description-list-description>
              <span>
                {{ item.message }}
              </span>
              <sky-label *ngIf="item.important" labelType="warning">
                important
              </sky-label>
            </sky-description-list-description>
          </sky-description-list-content>
        </sky-description-list>
      </sky-column>
      <sky-column
        screenXSmall="1"
        screenSmall="1"
        screenMedium="1"
        ScreenLarge="1"
      >
        <a
          href="mailto:{{ item.createdByEmail }}"
          title="{{ item.createdByEmail }}"
        >
          <sky-icon icon="envelope-o"></sky-icon>
        </a>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</main>
